@import "mixins.scss";

// Logo section
.header__logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-dark;
  text-decoration: none;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
    color: $primary-color;
  }

  &-icon {
    width: 40px;
    height: 40px;
    @include gradient-bg;
    border-radius: 10px;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}